.square {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  background: transparent;
  border: 3px solid;
  position: relative;
}
.square:hover {
  background-color: var(--hover-color);
}
.square:disabled {
  cursor: not-allowed;
  color: #888;
}
.square .value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
