.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 0 20px;
  gap: 20px;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
.button-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }
}

input[type="color"] {
  min-width: 55px;
  border-radius: 5px;
}
input[type="number"] {
  width: 45px;
  border-radius: 5px;
}
select {
  border-radius: 5px;
}
select option {
  border-radius: 5px;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.popup {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
