.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  padding: 0 20px;
  gap: 20px;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}
.button-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }
}
