.settings {
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #ccc;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
}
.settings label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
